//===============================================================================
// Nextflow config file
//===============================================================================

//===============================================================================
// Global default params
//===============================================================================

params {
    manifest = "${projectDir}/data/manifest.json"
    session_list = "${projectDir}/session_list.txt"
    data_dir = "${projectDir}/data"
    results = "${projectDir}/results"
}

//===============================================================================
// Profiles
//===============================================================================

profiles {
    docker {
        docker.enabled = true
        process.container = 'visresp:latest'
        // mount data & results inside the container
        // docker.runOptions = "-v ${params.data_dir}:/data -v ${params.results}:/results"
        docker.runOptions = "-v ${projectDir}:/app"
    }
}


//===============================================================================
// Process-level resource configuration
//===============================================================================

process {
    executor = 'local'
    cpus = 1
    time = '1h'
}


//===============================================================================
// Tracing & Report
//===============================================================================

// overwrite files during development
// add timestamp when ready for production

//def trace_timestamp = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')

timeline {
    enabled = true
    file = "results/logs/timeline.html"
    overwrite = true
}
trace {
    enabled = true
    file = "results/logs/trace.txt"
    overwrite = true
}
report {
    enabled = true
    file = "results/logs/report.html"
    overwrite = true
}
dag {
    enabled = true
    file = "results/logs/flowchart.png"
    overwrite = true
}


//===============================================================================
// Manifest
//===============================================================================

manifest {
    name = 'regional-visual-responsiveness'
    author = 'Hannah'
    description = 'comparing neural response strength to images across visual areas'
    mainScript = 'main.nf'
    nextflowVersion = '>=25.04.6'
    version = '1.0'
}